
/* set global variable color */
:root {
  --outer-space: rgb(28,1,24);
  --backgroud: rgb(55,9,38);
  --gin: rgb(107,212,37);
  --heliotrope: rgb(107,212,37);
}   
  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  justify-content: center;
}

/* set out body style */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; 
  font-size: 16px;
  line-height: 1.5;
  color: var(--gin);
  background-color: var(--outer-space);
  text-align: center;
  width: auto;
  height: auto;
}

/* heading settings */
h1,
h2,
h3,
h4,
h5,
h6 {
margin-bottom: 0.625rem;
color: var(--heliotrope);
font-weight: 700;
line-height: 1.1;
}

/* text size for heading */
h1 {
font-size: 3rem; 
}

h2 {
font-size: 2.5rem;
}

h3 {
font-size: 2rem;
}

h4 {
font-size: 1.5rem;
}

h5 {
font-size: 1rem;
}

h6 {
font-size: .75rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

/* formatting for form, label and button attributes */
form {
  max-width: 400px;
}

form h3 {
  font-size: 150%;
}

form p {
  margin: 3% 0;
}

label {
  display: block;
}

button {
  padding: 1% 2%;
  color: #fff;
  background-color: #13293d;
  border: none;
  outline: none;
  cursor: pointer;
}
/* setting class for heading */
.header-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--outer-space);
  color: var(--gin);
}

.header-main h1 {
  display: inline-block;
  font-size: 3rem;
}

.header-main nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header-main ul a {
color:inherit;
text-decoration:none;
opacity:0.8;
}

.header-main ul a:hover {
opacity:1;
}

.header-main nav ul {
  list-style-type: none;
}

.header-main nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* formatting for about and work sections */
.about {
  display: flex;
  flex: 100vw;
}

.work-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: center; 
  align-items: flex-start; 
  width: 100%;  
}

.work-card {
  flex: 0 0 33%;
  padding: 10px;
  text-align: center;
}

.work-card header {
  padding: 20px;
  background: var(--outer-space);
  color: var(--gin);
}

.work-card img {
  width: 50%;
  min-width: 400px;
  border-style: solid;
  background-color: var(--heliotrope);
  border-width: 1px;
  align-items: center;
}

.work-card img:hover {
  opacity: 0.8;;
}

/*alignment of contact section */
.contact {
  display: inline-flex;
  flex-direction: column;
}

.text-input {
  width: 100%;
  max-width: 100%;
}

.text-input, select {
  padding: 1%;
  outline: none;
  border: 1.2px solid #b9C6ae;
}

.text-input:hover, .checkbox:hover, 
select:hover, button:hover {
  box-shadow: 0 0 5px #999;
}

.text-input:focus {
  border-right-width: 5px;
}

.text-input:placeholder-shown {
  border-style: dashed;}

/* footer style section */
.footer-basic {
  padding:40px 0;
  background-color:var(--outer-space);
  color:var(--gin);
  justify-content: center;
  text-align: center;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid var(--gin);
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:var(--gin);
  margin-bottom:0;
}

@media screen and (max-width: 1280px) {
  .work-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}